<div class="research-section">
  <h2>Research Interests</h2>
  <div class="research-items">
    <div class="research-item">
      <img src="/assets/images/progress-in-ml.png" alt="Machine Learning Progress Chart" />
      <h3>Progress in Machine Learning</h3>
      <p>
        This research can help aid researchers in understanding trends and developing more efficient and scalable machine learning models.
      </p>
      <p>
        <a href="https://futuretech.mit.edu/" target="_blank" style="color: #457eac; font-weight: bold">@ MIT FutureTech Lab</a> I am collaborating with cross-functional teams on literature reviews and surveys to research various algorithms and establish metrics to classify and quantify progress in machine learning. This is for the Algorithm Wiki project.
      </p>
    </div>

    <div class="research-item">
      <img src="/assets/images/cross-border.png" alt="Decentralized Digital Identity Diagram" />
      <h3>Decentralized Digital Identity</h3>
      <p>
        This research is paving the way for a globally interconnected digital identity ecosystem and addresses critical challenges such as cross-border compatibility, privacy preservation, and user-centric control over personal data.
      </p>
      <ul>
        <li>
          <a href="https://connection.mit.edu/" target="_blank" style="color: #457eac; font-weight: bold;">@ MIT Connection Science</a> I helped create a framework for the interoperability of verifiable credentials and personal data stores. Helped improve the practicality of verifiable credentials.
        </li>
        <li>
          <a href="https://www.mosip.io/#1" target="_blank" style="color: #457eac; font-weight: bold;">@ MOSIP</a> I upgraded the Bluetooth credential exchange module of their decentralized mobile wallet. Got hands-on experience with implementing decentralized technologies.
        </li>
      </ul>
    </div>
  </div>

  <div class="presentation-section">
    <div class="presentation-item">
      <div class="presentation-text">
        <h3>Conference Presentation</h3>
        <p>
          Presented my work with <a href="https://connection.mit.edu/" target="_blank" style="color: #457eac; font-weight: bold;">@ MIT Connection Science</a> on the <b>"Interoperability of Verifiable Credentials and Personal Data Stores"</b> at the <a href="https://events.internet2.edu/website/69276/" target="_blank" style="color: #457eac; font-weight: bold;">@ Tech EX 24</a> conference in Boston.
        </p>
      </div>
      <img src="/assets/images/conference.jpeg" alt="Presenting at Conference" class="presentation-image" />
    </div>
  </div>
</div>

<style>
  .research-section {
    margin: 2rem;
  }

  .research-section h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #333;
  }

  .research-items {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
  }

  .research-item {
    flex: 1 1 calc(50% - 2rem);
    background: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .research-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 8px;
  }

  .research-item h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333;
  }

  .research-item p {
    line-height: 1.6;
    color: #555;
    margin-bottom: 1rem;
  }

  .research-item ul {
    text-align: left;
    list-style: none;
    padding: 0;
  }

  .research-item ul li {
    margin-bottom: 1rem;
    line-height: 1.6;
    color: #555;
  }

  .presentation-section {
    margin-top: 4rem;
  }

  .presentation-item {
    background: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .presentation-text {
    flex: 2;
  }

  .presentation-text h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333;
  }

  .presentation-text p {
    line-height: 1.6;
    color: #555;
  }

  .presentation-image {
    flex: 1;
    max-width: 50%;
    border-radius: 8px;
    margin-left: 2.5rem;
  }

  @media (max-width: 768px) {
    .research-items {
      flex-direction: column;
    }

    .research-item {
      flex: 1 1 100%;
    }

    .presentation-item {
      flex-direction: column;
    }

    .presentation-image {
      max-width: 100%;
      margin: 0;
    }
  }
</style>
