/*
 * Customization Variables
 */

// Main colors
$primary-bg: #ffffff;
$content-bg: #ffffff;
$card-bg: #ffffff;

// Text colors
$text-primary: #000000;
$text-secondary: #000000;

// Sizing
$image-size: 85px;
$profile-image-size: 150px;

/*
 * Build Variables, don't touch
 */

$max-width: 900px;
$med-width: 600px;
$small-width: 480px;
